<div id="main">


<!-- 
    <div id="navv">
        <nav id="navbar">

            <ul id="lists">

                <li><a href="">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Contact</a></li>
                <li><a href="">Service</a></li>
            </ul>


        </nav>
    </div> -->


    <div id="allimages">





        <div>
            <img  id="im1" width="350p" height="350px" src="../../assets/new/im1.jfif" alt="">

        </div>

        <div>
            <img  id="im2" width="350p" height="350px" src="../../assets/new/im2.jfif" alt="">

        </div>
        <div>
            <img id="im3" width="350p" height="350px" src="../../assets/new/im3.jfif" alt="">

        </div>
 


</div>


<div id="content">
    <br><br><br><br>
    <p>Gadgeon is an ISO 9001:2015 Certified Global Electronics Product Design Company specializing in the Internet of Things (IoT), Home Automation, Industrial Automation,<br> 
        Healthcare & Communications Service Provider market segments. Our mission is to become the preferred partner for product development in IoT and Digital Transformation <br> 
        technologies by delivering outstanding value, continuous innovation and exceptional customer experience. GadgEon delivers end-to-end solutions from product description to deployment,<br> from hardware to application.</p>


 </div>

</div>