#im1{
    border: 2px solid rgb(253, 251, 251);
    border-radius: 25px;
}

h1{
    color: rgb(232, 233, 242);
}

#main{
    width: 100%;
    height: 900px;
    background-image: url(../../assets/contact_images/backgroundimage4.jpg);
    background-size: cover;
}

#forms{
    color: aliceblue;
    margin-left: 350px;
}
input{
    background-color: rgb(225, 230, 234,0.01)
    
}

textarea{
    background-color: rgb(225, 230, 234,0.01)
    
    
}

#button{
    width: 80px;
    height: 25px;
    border: 2px solid ;
    border-radius: 25px;
}