<div id="main">


    <div id="image">
         <img  id="im1" width="450px" height="450px" src="../../assets/new/logo.png" alt="">


    </div>


    <div id="contents">
        <p>Gadgeon is an ISO 9001:2015 Certified Global Electronics Product Design Company specializing in the Internet of Things (IoT), Home Automation, Industrial Automation,<br> 
            Healthcare & Communications Service Provider market segments. Our mission is to become the preferred partner for product development in IoT and Digital Transformation <br> 
            technologies by delivering outstanding value, continuous innovation and exceptional customer experience. GadgEon delivers end-to-end solutions from product description to deployment,<br> from hardware to application.</p>

    </div>

</div>